:root {
  --color-text: #172b4d; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400; }

.header__layout {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo-container {
  width: 11rem;
  height: auto;
  margin: 1.6rem; }

.header__logo {
  width: 100%;
  height: auto; }

.header__menu-button {
  position: relative;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  margin: 0 1.6rem;
  background-color: inherit; }
  .header__menu-button-item {
    position: absolute;
    width: 2.4rem;
    height: 3px;
    left: 0;
    border-radius: 3px;
    background-color: var(--color-text); }
    .header__menu-button-item:nth-child(1) {
      top: 1.5px;
      transform-origin: left center; }
    .header__menu-button-item:nth-child(2) {
      top: 10.5px;
      transform-origin: left center; }
    .header__menu-button-item:nth-child(3) {
      top: 19.5px;
      transform-origin: left center; }

.navigation {
  margin: 0 1.6rem; }
  .navigation__categories {
    font-size: 2rem;
    border-bottom: solid 1px #dfe1e6;
    min-height: 7rem;
    display: flex;
    align-items: center; }
  .navigation__button {
    display: block;
    width: 100%;
    height: 6.4rem;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    text-align: start;
    cursor: pointer; }
  .navigation__button--arrow {
    background-image: url("/assets/svg/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: calc(100% - 1rem);
    content: ''; }
  .navigation__button--focus {
    background-color: #0065ff;
    color: #ffffff;
    text-align: center;
    margin-top: 1.6rem; }
  .navigation__button--outlined {
    background-color: #ffffff;
    color: var(--color-text);
    border: 1px solid #0065ff;
    text-align: center;
    margin-top: 1.6rem; }
  .navigation__features {
    display: none; }
