:root {
  --color-text: #172b4d; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.header__layout {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo-container {
  width: 11rem;
  height: auto;
  margin: 1.6rem; }

.header__logo {
  width: 100%;
  height: auto; }

.header__menu-button {
  position: relative;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  margin: 0 1.6rem;
  background-color: inherit; }
  .header__menu-button-item {
    position: absolute;
    width: 2.4rem;
    height: 3px;
    left: 0;
    border-radius: 3px;
    background-color: var(--color-text); }
    .header__menu-button-item:nth-child(1) {
      top: 1.5px;
      transform-origin: left center; }
    .header__menu-button-item:nth-child(2) {
      top: 10.5px;
      transform-origin: left center; }
    .header__menu-button-item:nth-child(3) {
      top: 19.5px;
      transform-origin: left center; }

.navigation {
  margin: 0 1.6rem; }
  .navigation__categories {
    font-size: 2rem;
    border-bottom: solid 1px #dfe1e6;
    min-height: 7rem;
    display: flex;
    align-items: center; }
  .navigation__button {
    display: block;
    margin-top: 1.6rem;
    width: 100%;
    height: 6.4rem;
    border: none;
    background-color: #0065ff;
    color: #ffffff;
    font-size: 2rem; }
  .navigation__button--outlined {
    background-color: #ffffff;
    color: var(--color-text);
    border: 1px solid #0065ff; }
  .navigation__features {
    display: none; }
