.header {
  &__layout {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  //   Logo
  &__logo-container {
    width: 11rem;
    height: auto;
    margin: 1.6rem;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  // Button
  &__menu-button {
    position: relative;
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    margin: 0 1.6rem;
    background-color: inherit;

    // Menu icon
    &-item {
      position: absolute;
      width: 2.4rem;
      height: 3px;
      left: 0;
      border-radius: 3px;
      background-color: var(--color-text);

      &:nth-child(1) {
        top: 1.5px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 10.5px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 19.5px;
        transform-origin: left center;
      }
    }
  }
}

.navigation {
  margin: 0 1.6rem;
  transform: translateY();

  &__categories {
    font-size: 2rem;
    border-bottom: solid 1px #dfe1e6;
    min-height: 7rem;
    display: flex;
    align-items: center;

    &:first-child {
      border-top: solid 1px #dfe1e6;
    }
  }

  &__button {
    display: block;
    width: 100%;
    height: 6.4rem;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    text-align: start;
    cursor: pointer;

    &--arrow {
      background-image: url('/assets/svg/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 0.8rem;
      background-position: calc(100% - 1rem);
      content: '';
    }

    &--focus {
      background-color: #0065ff;
      color: #ffffff;
      text-align: center;
      margin-top: 1.6rem;
    }

    &--outlined {
      background-color: #ffffff;
      color: var(--color-text);
      border: 1px solid #0065ff;
      text-align: center;
      margin-top: 1.6rem;
    }
  }

  &__features {
    display: none;
  }
}
