.header {
  position: relative;

  &__layout {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #ffffff;
  }

  // Logo
  &__logo-container {
    width: 11rem;
    height: auto;
    margin: 1.6rem;

    &--open {
      display: none;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  // Back Button

  &__back-button {
    display: none;
    padding: 1.6rem;

    &-text,
    &-arrow {
      display: inline-block;
    }

    &-arrow {
      margin-right: 0.5rem;
    }

    &--open {
      display: block;
    }
  }

  // Menu Button
  &__menu-button {
    position: relative;
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    margin: 0 1.6rem;
    background-color: inherit;

    // Menu icon
    &-item {
      position: absolute;
      width: 2.4rem;
      height: 3px;
      left: 0;
      border-radius: 3px;
      background-color: var(--color-text);

      &:nth-child(1) {
        top: 1.5px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 10.5px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 19.5px;
        transform-origin: left center;
      }
    }
  }
}

.navigation {
  position: absolute;
  margin: 7rem 1.6rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 0.3s;

  &--open {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__categories {
    font-size: 2rem;
    border-bottom: solid 1px #dfe1e6;
    min-height: 7rem;
    display: flex;
    align-items: center;

    &:first-child {
      border-top: solid 1px #dfe1e6;
    }
  }

  &__button {
    display: block;
    width: 100%;
    height: 6.4rem;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    text-align: start;
    cursor: pointer;

    &--sub-menu {
      background-image: url('/assets/svg/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 0.8rem;
      background-position: calc(100% - 1rem);
      content: '';
    }

    &--focus {
      background-color: #0065ff;
      color: #ffffff;
      text-align: center;
      margin-top: 1.6rem;
    }

    &--outlined {
      background-color: #ffffff;
      color: var(--color-text);
      border: 1px solid #0065ff;
      text-align: center;
      margin-top: 1.6rem;
    }
  }

  // Navigation featured
  &__features {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(105%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.3s;

    &--open {
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__list-item {
    border-bottom: 1px solid #dfe1e6;
    font-size: 1.6rem;
    padding: 1.6rem 0;

    &-topcontainer {
      display: flex;
      align-items: center;
      margin-bottom: 0.96rem;
    }
  }

  &__img-container {
    width: 1.9rem;
    height: 1.9rem;
    display: block;
    margin-right: 1.1rem;
    margin-left: 0.24rem;
  }

  &__img {
    width: 100%;
    height: auto;
    filter: invert(48%) sepia(10%) saturate(853%) hue-rotate(178deg)
      brightness(89%) contrast(94%);
  }

  &__pragraph {
    font-size: 1.2rem;
    color: var(--color-text-light);
  }

  // More info
  &__info {
    &-container {
      padding: 2.4rem;
      background-color: var(--color-background-secondary);
      margin-top: 1.7rem;
      margin-bottom: 1.7rem;
    }

    &-headline {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }

    &-text {
      font-size: 1.2rem;
      margin-bottom: 1.6rem;
      color: var(--color-text-light);
    }

    &-button {
      font-size: 1.6rem;
      display: inline-block;
      background-color: #ffffff;
      padding: 1.2rem 1.6rem;
      border-radius: 5px;
      border: 1px solid #6454c0;
    }
  }
}
