.header {
  height: 7rem;

  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  //   Logo
  &__logo-container {
    width: 11rem;
    height: auto;
    margin: 1.6rem;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  // Button
  &__menu-button {
    position: relative;
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    margin: 0 1.6rem;
    background-color: inherit;

    &-item {
      position: absolute;
      width: 2.4rem;
      height: 3px;
      left: 0;
      border-radius: 3px;
      background-color: var(--color-text);

      &:nth-child(1) {
        top: 1.5px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 10.5px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 19.5px;
        transform-origin: left center;
      }
    }
  }
}
