:root {
	--color-text: #172b4d;
	--color-text-light: #65738a;

	--color-background-primary: #fff;
	--color-background-secondary: #efecfe;
	--color-background-tertiary: #eae6ff66;

	--border-bottom: solid 1px #dfe1e6;
}
